<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="riverApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div id="universe" class="fill" ng-controller="MainCtrl" ng-class="{debug: debug}">
      <div id="space" class="box" ng-style="spaceStyle"></div>
      <div id="world" class="fill" ng-class="dayphase">

        <div id="sun" ng-style="sunStyle" ng-cloak></div>
        <div class="box moonBox" ng-style="moonStyle" ng-cloak>
          <div id="moon"></div>
        </div>
        <div ng-show="debug" ng-cloak>{{time}} - {{dayphase}}</div>
        <div class="box cloudBox debugBox" ng-click="debug && tick()">
          <div class="cloud box" ng-style="{left: cloudLeft}"></div>
        </div>
        <h1 flash="message"></h1>
        <div id="ground" class="fill">
          <div class="left field fill debugBox" ng-click="fieldClick(0)">
            <div class="item debugBox" ng-repeat="item in field[0] track by $index" ng-click="itemClick($index, 0); $event.stopPropagation();">
              <img ng-src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" class="img-responsive" ng-show="item.img"></img>
            </div>
          </div>
          <div id="river">
            <div id="boatBox" class="box debugBox" ng-class="{right: boatPosition}" ng-click="row()">
              <div class="payload">
                <img ng-src="{{payload.img}}" class="img-responsive" ng-show="payload.img"></img>
              </div>
              <div class="boat"></div>
            </div>
          </div>
          <div class="right field fill debugBox" ng-click="fieldClick(1)">
            <div class="item debugBox" ng-repeat="item in field[1] track by $index" ng-click="itemClick($index, 1); $event.stopPropagation();">
              <img ng-src="{{item.img}}" class="img-responsive" ng-show="item.img"></img>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/mainCtrl.js"></script>
        <script src="scripts/flashDirective.js"></script>
        <!-- endbuild -->
</body>
</html>
